@import "tailwindcss";

html {
  overflow: scroll;
}

html::-webkit-scrollbar {
  display: none;
}

@theme {
  /* fonts */
  --font-Inter: "Inter", serif;
  --font-Poppins: "Poppins", serif;
  --font-chewy: "Chewy", serif;
  --font-Lato: "Lato", serif;
  --font-Monserrat: "Montserrat", sans-serif;

  /* colors */
  --color-primary: #5a3bb3;
  --color-secondary: #e4813a;
  --color-third: #7759cc;
  --color-fourth: #7030c3;
  --color-hoverPurple: #8954cc;
  --color-txt-1: #3e3218;
  --color-txt-2: #33363f;
  --color-darkYellow: #f7ce72;
  --color-mdYellow: #fbe2ac;
  --color-bgYellow: #ffe99a;
  --color-lightYellow: #fdf3dc;
  --color-lavender: #ebe8fc;
  --color-navBorder: #afb1b6;
  --color-navBg: #f6f4f4;
  --color-navSubBg: #8459cc;
  --color-disable: #d3d3d3;
  /* profile */
  --color-profilePrimary: #5752ae;
  --color-profileSecondary: #dfeafc;
  --color-profileThird: #5f58b7;
}

@layer base {
  a,
  p,
  li {
    @apply text-lg;
  }

  h1,
  h2 {
    @apply font-chewy text-third font-thin;
  }

  h3 {
    @apply font-Poppins;
  }
}

@layer components {
  .web-container {
    @apply mx-auto w-full;

    @apply [@media(width>=40rem)]:max-w-full; /* 640px */
    @apply [@media(width>=48rem)]:max-w-[60.25rem]; /* 768px */
    @apply [@media(width>=64rem)]:max-w-[64rem]; /* 1024px */
    @apply [@media(width>=80rem)]:max-w-[80rem]; /* 1280px */
    @apply [@media(width>=96rem)]:max-w-[96rem]; /* 1536px */
  }

  .search-bar {
    @apply focus:border-txt-2 w-0 rounded-full py-1 pr-3 pl-7 text-base transition-all duration-300 group-hover:w-full group-hover:border focus:w-full focus:border focus:outline-none @2xl:group-hover:w-[22rem] @2xl:focus:w-[22rem] @3xl:w-[320px] @3xl:border @3xl:group-hover:w-[320px] @3xl:focus:w-[320px];
  }

  .log-input {
    @apply focus:ring-third mt-2 w-full rounded-lg border p-2 focus:ring-2 focus:outline-none;
  }

  .activeRadius::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 38px;
    right: -3px;
    bottom: -37px;
    border-top-right-radius: 1000px;
    box-shadow: 0 -19px 0 0 var(--color-profileSecondary);
    background-color: transparent;
  }

  .activeRadius::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 38px;
    right: -3px;
    top: -37px;
    border-bottom-right-radius: 1000px;
    box-shadow: 0 19px 0 0 var(--color-profileSecondary);
    background-color: transparent;
  }
}
